body{
	margin: 0;
	font-family: sans-serif, arial;
	background: #fff;
	color: #737373;
	font-size: 15px;
	line-height: 1.3;
	min-width: 962px;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.container{
	width: 962px;
	margin: 0 auto;
}
header{
	background: #343434;
	padding: 5px 0;
}
.logo{
	float: left;
}
.main-nav ul{
	margin: 0;
	padding: 32px 0 0 0;
	list-style: none;
	text-align: right;
}
.main-nav li{
	display: inline-block;
	margin: 0 20px 0 0;
	padding: 0;
}
.main-nav a{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
}
.promo_b{
	background-image: url(../img/main-pic.jpg);
	height: 325px;
	position: relative;
}
.news{
	background: #e4593a;
	font-size: 14px;
	color: #fff;
	padding: 15px 0;
	position: absolute;
	width: 100%;
	top: 80%;
}
.latest_news{
	font-weight: bold;
}
.news_link{
	color: #fff;
	text-decoration: none;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #fff;
}
.about{
	border-top: 10px solid #f2f2f2;
	border-bottom: 10px solid #f2f2f2;
	padding-top: 10px;
	padding-bottom: 30px;

}
.about h2{
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 25px;
}
.services{
	border-bottom: 1px solid #f2f2f2;
}
.service_img{
	float: right;		
	margin-left: 20px;
	margin-bottom: 10px;
}
.g_border{
	padding: 5px;
	background: #f2f2f2;
	border: 0.5px solid #aeaeae;
}
.t_img{
	float: left;
	margin-right: 20px;
}
.dark_title{
	color: #272630;
}
.red_title{
	color: #f26c4f;
	text-decoration: none;
}
footer{
	background: #343434;
	padding: 10px 0;
}
footer .container{
	text-align: center;
	color: #aeaeae;
	font-size: 14px;
}
footer .container p{
	float: left;
}
.socials a{
	display: inline-block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #e4593a;
}
.fb{
	background: url(../img/ic-fb.png) no-repeat 50%;
}
.tw{
	background: url(../img/ic-tw.png) no-repeat 50%;
}
.rss{
	background: url(../img/ic-rss.png) no-repeat 50%;
}